.car {
    visibility: hidden;
    opacity: 0;
    display: inline;
    position: absolute;
    left: calc(50% - 38vw);
    top: calc(50% - 150px);
}
.car img {
    width: 76vw;
}

.car2 {
    left: calc(50% - 45vw);
    top: calc(100% - 800px);
    display: inline;
    position: absolute;
}
.car2 img {
    width: 70vw;
}
.car2-options img {
    width: 12vw;
}
.round {
    display: inline;
    position: absolute;
    left: calc(50% + 30vw);
    top: calc(100% - 700px);
}
.square {
    display: inline;
    position: absolute;
    left: calc(50% + 30vw);
    top: calc(100% - 500px);
}
.dashboard {
    visibility: hidden;
    opacity: 0;
}

.car3{
    left: calc(50% - 38vw);
    top: calc(50% - 150px);
    display: inline;
    position: absolute;
}
.car3 img{
    width: 76vw;
}
.wheels {
    visibility: hidden;
    opacity: 0;
}

.light {
    opacity: 0;
}

.light:hover{
    opacity: 1;
}

.cirlce {
    display: inline;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.fadeOut{
    opacity:0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s 0s;
}
.fadeIn{
    opacity:1;
    visibility: visible;
    transition: opacity 0.5s 0.5s, visibility 0.5s 0s;
}

@keyframes pop{
    0%, 100% {opacity: 1;}
    50%  {transform: scale(1.2);}
  }