.circle {
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle:focus {
    outline: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    top: 80%;
}

.bar {
    position: fixed;
    bottom: 30px;
    width: 100%;
}

.carBased {
    height: 800px;
    width: 1000px;
    float: left;
    display: flex;
    transition: all 2.5s ease;
}

.homeClass {
    background-image: url("bg.jfif");
}

.dashClass {
    background-image: url("bg1.jfif");
}

.wheelClass {
    background-image: url("bg2.jpg");
}

.chairClass {
    background-image: url("bg3.jfif");
}

.testClass {
    background-image: url("bg4.jpeg");
}

.optionsBased{
    height: 200px;
    width: 400px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    transition: 1s all ease;
}

.baseOptions1 {
    visibility: hidden;
    background-color: white;
}

.baseOptions2 {
    visibility: hidden;
    background-color: white;
}

.baseOptions3 {
    visibility: hidden;
    background-color: white;
}

.steerOptions1 {
    visibility: visible;
    margin-top: 150px;
    background-color: black;
}

.steerOptions2 {
    visibility: visible;
    background-color: grey;
}

.wheelOptions1 {
    visibility: visible;
    margin-top: 150px;
    background-color: blue;
}

.wheelOptions2 {
    visibility: visible;
    background-color: darkblue;
}

.wheelOptions3 {
    visibility: visible;
    background-color: lightblue;
}

.couchOptions1 {
    visibility: visible;
    margin-top: 150px;
    background-color: red;
}

.couchOptions2 {
    visibility: visible;
    background-color: darkred;
}

.switchTesting {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}