ol,
ul {
    padding-left: 30px;
}

.circle {
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle:focus {
    outline: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    top: 80%;
}

.bar {
    position: fixed;
    bottom: 30px;
    width: 100%;
}


.homeClass {
    height: 800px;
    width: 1000px;
    display: flex;
    background-image: url("bg.jfif");
    transition: all 5s ease;
}

.dashClass {
    height: 800px;
    width: 1000px;
    display: flex;
    background-image: url("bg1.jfif");
    transition: all 5s ease;
}

.wheelClass {
    height: 800px;
    width: 1000px;
    display: flex;
    background-image: url("bg2.jpg");
    transition: all 5s ease;
}

.chairClass {
    height: 800px;
    width: 1000px;
    display: flex;
    background-image: url("bg3.jfif");
    transition: all 5s ease;
}

.testClass {
    height: 800px;
    width: 1000px;
    display: flex;
    background-image: url("bg4.jpeg");
    transition: all 5s ease;
}